@model VintageBookshelf.UI.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "An error has occurred";
}

@{
    if (Model is null)
    {
        <div>
            <h2>Whoops! An unexpected error has occurred.</h2>
        </div>
    }
    else
    {
        <h1>@Html.Raw(Model.Title)</h1>
        <h2 class="text-danger">@Html.Raw(Model.Message)</h2>
    }
}
