@model VintageBookshelf.UI.ViewModels.BookViewModel

@{
    ViewData["Title"] = "Add New Book";
}

<h4>@ViewData["Title"]</h4>
<hr />

<div class="row">
    <div class="col-md-10">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher" class="control-label"></label>
                <input asp-for="Publisher" class="form-control" />
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseYear" class="control-label"></label>
                <input asp-for="ReleaseYear" class="form-control" />
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadImage" class="control-label"></label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="UploadImage" asp-for="UploadImage">
                    <label data-browse="Browse" style="width: 400px" class="custom-file-label" for="UploadImage"></label>
                    <label style="display: none" id="img-name"></label>
                </div>
                <span asp-validation-for="UploadImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <select asp-for="AuthorId" class="form-control" asp-items="@(new SelectList(Model.Authors, "Id", "Name"))">
                    <option></option>
                </select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookshelfId" class="control-label"></label>
                <select asp-for="BookshelfId" class="form-control" asp-items="@(new SelectList(Model.Bookshelves, "Id", "Name"))">
                    <option></option>
                </select>
                <span asp-validation-for="BookshelfId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-info" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $('#UploadImage').change(function (){
           $('#img-name').text(this.files[0].name);
           $('#img-name')[0].style.display = 'block';
        });
        
        $('#UploadImage').attr("data-val", "true");
        $('#UploadImage').attr("data-val-required", "Choose required image field");
    </script>
}
